// narsil_right.overlay - Lado derecho
#include "narsil.dtsi"

&default_transform {
    col-offset = <5>;
};

&kscan {
    col-gpios
        = <&pro_micro 15 GPIO_ACTIVE_HIGH>   // col0
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>   // col1
        , <&pro_micro 19 GPIO_ACTIVE_HIGH>   // col2
        , <&pro_micro 20 GPIO_ACTIVE_HIGH>   // col3
        , <&pro_micro 21 GPIO_ACTIVE_HIGH>   // col4
        ;
};

/ {
    chosen {
        zephyr,display = &ssd1306;
    };
    
    right_encoder: encoder_right {
        compatible = "alps,ec11";
        a-gpios = <&pro_micro 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&pro_micro 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <80>;
        status = "okay";
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&right_encoder>;
        triggers-per-rotation = <20>;
    };
};
&pro_micro_i2c {
    status = "okay";
    ssd1306: ssd1306@3c {
        compatible = "sinowealth,sh1106";
        reg = <0x3c>;
        width = <128>;
        height = <64>;           /* Tu resolución real */
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <63>;  /* Tu ratio real */
        segment-remap;           /* Gira el eje X (quita el ruido) */
        com-invdir;              /* Gira el eje Y (quita el ruido) */
        prechargep = <0x22>;
    };
};
