// narsil_right.overlay - Lado derecho
#include "narsil.dtsi"

&default_transform {
    col-offset = <5>;
};

&kscan {
    col-gpios
        = <&pro_micro 15 GPIO_ACTIVE_HIGH>   // col0
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>   // col1
        , <&pro_micro 19 GPIO_ACTIVE_HIGH>   // col2
        , <&pro_micro 20 GPIO_ACTIVE_HIGH>   // col3
        , <&pro_micro 21 GPIO_ACTIVE_HIGH>   // col4
        ;
};

/ {
    chosen {
        zephyr,display = &sh1106;  /* <-- CORRECCIÓN 1 */
    };
    
    right_encoder: encoder_right {
        compatible = "alps,ec11";
        a-gpios = <&pro_micro 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&pro_micro 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <80>;
        status = "okay";
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&right_encoder>;
        triggers-per-rotation = <20>;
    };
};

/* <-- CORRECCIÓN 2: Resistencias internas */
&i2c0_default {
    group1 {
        bias-pull-up; 
    };
};

&pro_micro_i2c {
    status = "okay";
    sh1106: sh1106@3c {            /* <-- CORRECCIÓN 3 */
        compatible = "sinowealth,sh1106";
        reg = <0x3c>;
        width = <128>;
        height = <64>;
        segment-offset = <2>;      /* <-- CORRECCIÓN 4: Vital para quitar el ruido */
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <63>;
        segment-remap;
        com-invdir;
        prechargep = <0x22>;
    };
};
